<main>
  <h1>Angular Material components using .SCSS file approach + Angular Material's pre-built theme azure-blue</h1>
  <form class="example-form">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>

<!--    <mat-form-field>-->
<!--      <mat-label>First Name</mat-label>-->
<!--      <input matInput [(ngModel)]="data.userData.given_name" />-->
<!--      <mat-icon class="text-primary" matSuffix>badge</mat-icon>-->
<!--    </mat-form-field>-->
  </form>

</main>
